.b
{
    margin-left:120px;
}
.canvas
{

    margin-left: 200px;

    marquee-speed: slow;
    position: relative;
    animation:mymove 5s infinite;}
@-webkit-keyframes mymove
{
    from {left:0px;}
    to {left:200px;}
}





