.a
{
    margin: -199px;
    margin-left: 400px;
    padding: 0px;
    background-color: white;
}
.b
{
    margin: 200px;
    margin-left: 400px;


}
.img
{
    margin-top: -320px;
}
.z
{
    background-color: black;
    width: 400px;
    height: 400px;
    border-style: outset;
    border-bottom-color: red;
}
.body
{
    background-color: navajowhite;
    border: red;
    cursor: crosshair;
}


.mycanvas
{
    margin-left: 200px;
    background-color:black;
    border: 20px outset deeppink;
    border-radius: 400px;

}